<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container mt-5" *ngIf="gsheetData">
  <div class="row">
    <div class="col-md-4">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">Author Info</h5>
          <p>Name : {{gsheetData.feed.author[0].name.$t}}</p>
          <p>Email : {{gsheetData.feed.author[0].email.$t}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card m-2">
        <div class="row ">
          <div class="col-md-6">
            <p class="mt-2 h3">{{gsheetData.feed.title.$t}}</p>
          </div>
          <div class="offset-md-3"></div>
          <div class="col-md-3">
            <button class="btn btn-primary" (click)="fetchData()">
              Refresh Data
            </button>
          </div>
        </div> 
        <div class="row" *ngIf="gsheetTabData">
          <div class="col-12">
              <table class="table" >
                   <thead>
                     <tr>
                       <th>States</th>
                       <th (click)='toggleSort()' class="table-head-sort-btn">Public Bed {{toggleSate?'⇧':'⇩'}}</th>
                     </tr>
                   </thead>
                   <tbody>
                    <tr *ngFor="let data of gsheetTabData.feed.entry">
                      <td> {{data.gsx$stateut.$t}}</td>
                      <td> {{data.gsx$numpublicbedshmis.$t}}</td>
                    </tr>
                   </tbody>
                   <tfoot>
                     <tr>
                       <td class="text-bold">
                        Total beds :
                       </td>
                       <td>
                        {{getTotalBeds}}
                       </td>
                     </tr>
                   </tfoot>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>